html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(193, 177, 157);
    text-align: center;
    line-height: 1.5;
}

.changeBackground {
    background-color: rgb(53, 53, 53);
}

.changeText {
    color: rgb(37, 37, 128);
}